version: '3.2'
services:
    api:
        build:
            context: .
            dockerfile: docker/api/Dockerfile
        volumes:
            - "./src/:/go/src/"
    nginx:
        image: nginx
        ports:
            - "8000:8000"
        volumes:
            - "./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf"
            - ".:/workspace"